.login-page{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #002b5a;
    .login-title{
        font-size:20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 38px;
        color:#fff;
    }
    .login-main{
        width:320px;
        border:1px solid #ccc;
        box-shadow: 0 0 10px 3px #e2e2e2;
        padding:10px;
        z-index: 11;
    }
    .login-botton{
        width:100%;
    }
}