.card-wedget{
    width:340px;
    height:auto;
    background: rgba(15,23,46,0.8);
    border:1px solid #368bc8;
    position:absolute;
    box-shadow:0 0 16px 4px #20a0ff inset;
    z-index:999;
    padding:16px;
    .card-header{
        color:#9fc5f8;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 12px;
        border-bottom:1px solid #0b417f;
    }
}


.v-row{
    display: flex;

}


.v-icon-title {
    width:100px;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .v-title{
        color:#498cff;
        font-size:16px;
        line-height: 26px;
        font-weight: bold;
    }
    .v-icon{
        width:100px;
        height:100px;
        background-color:#1a2854;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .3s;
        &.police{
            background-image:url('../../../img/icon_jl.png')
        }
        &.djz{
            background-image:url('../../../img/icon_djj.png')
        }
        &.car{
            background-image:url('../../../img/icon_czsp.png')
        }
        &.phone{
            background-image:url('../../../img/icon_sj.png')
        }
        // &:hover{
        //     margin-top: -3px;
        // }
    }
}


.v-table{
    color:#0196ff;
    background:#081139;
    .v-table-header{
        display: flex;
        .v-table-th{
            flex:1;
            font-weight: bold;
            font-size:16px;
            padding:6px 6px;
            line-height: 1.5;
        }
    }
    .v-table-content{}
    .v-table-tr{
        display: flex;
        &:nth-child(2n){
            background: #172046;
        }
    }
    .v-table-td{
        flex:1;
        padding:6px 6px;
        line-height: 1.5;
    }

    &.center-table {
        background: transparent;
        padding:0 40px;
        .v-table-header{
            padding: 0 151px;
            background: linear-gradient(to right, transparent , rgba(23,34,78,0.9), rgba(32,45,105,0.8) 50%,rgba(23,34,78,0.9), transparent);
            .v-table-th{
                align-items: center;
                justify-content: center;
                display: flex;
                color:#9fc5f8;
                font-weight: normal;
                padding:3px 4px;
                font-size:16px;

            }
        }
        .v-table-tr{
            padding: 0 151px;
            background: linear-gradient(to right, transparent , #192937, #0f7bbf 50%,#192937, transparent);
        }
        .v-table-td{
            align-items: center;
            justify-content: center;
            display: flex;
            font-family: myFont;
            color: #eef614;
            font-size:22px;
            letter-spacing: 3px;
            font-style: italic;
            padding:2px 4px;

        }
        
    }

}

@font-face {
    font-family: 'myFont'; 
    src: url('./myfont.TTF') format('truetype');  
}
.v-center-title{
    display: flex;
    align-items: center;
    justify-content: center;
    .v-center-inner{
      width:auto;
      border-left:4px solid #4fa3b0;
      border-right:4px solid  #4fa3b0;
      color:#fff;
      font-size:24px;
      color:#fff;
      padding:2px 24px;
      
      background: -webkit-linear-gradient(left, #456167, #1a232c, #435e64); 
      &>.number{
          font-family:myFont;
          color:#eef614;
          letter-spacing:3px;
          font-style:italic;
      }
    }
}


.v-tab{
    position: absolute;
    top:80px;
    z-index: 1000;
    left:10px;
    width:340px;
    display: flex;  
    background: rgba(15, 23, 46, 0.8);
    border: 1px solid #0e3e84;
    .tab-item{
        flex:1;
        font-size:16px;
        color:#3d76d8;
        height: 45px;
        line-height: 45px;   
        text-align: center;
        cursor: pointer;     
        border-right:1px solid #0e3e84;
        &:last-child{
            border-right: none;
        }
        &.active{
            background: #2342bc;
        }
    }
}

.animate-cirle-box{
    position: relative;
    width: 250px;
    height:250px;
    margin:0 auto;
    img{
        display: block;
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        width:100%;
        height: 100%;
        animation: rotate 10s linear infinite;
         
        &:nth-child(1){
            opacity: 0.4;
           animation-duration: 14s;
        }
        &:nth-child(2){
            opacity: 0.4;
            animation-duration: 10s;
        }
        &:nth-child(3){
            opacity: 0.4;
            animation-duration: 4s;
        }
        &:nth-child(4){
            opacity: 0.4;
        }
    }
    .filterCenter{
       position:absolute;
       width:50px;
       height:50px;
       border-radius: 50%;
       background:#00b0ff;  
       filter:blur(20px);
       top:50%;
       margin-top:-25px;
       left:50%;
       margin-left:-25px;
    }
}

@keyframes rotate {
	100% { transform: rotate(360deg) }
}

.bling-animate-box{
    position: relative;
    width: 100%;
    height:250px;
    img{
        display: block;
        width:100%;
        height:100%; 
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        opacity: 0.5;
    }
    .mask-level{
        width:100%;
        height:100%;
        -webkit-mask: url(./img/circuit.png) center no-repeat;
        -webkit-mask-size: 100% 100%;
         mask: url(./img/circuit.png) center no-repeat;
         mask-size: 100% 100%;
         &::before{
            content: "";
            display: block;
            position: absolute;
            height: 250px;
            left: 0;
            right: 0;
            background:#fff;
            transform: scale(0.0) ;
            animation: circuitAni 3s linear infinite;
         }
    }
    .square-frame{
        position: absolute;
        width:60px;
        height:60px;

    }
    
   
}


@keyframes circuitAni {
    0% { transform: scale(0.0) }
    70% { transform: scale(0.0)}
    80% { transform: scale(1) }
    90% { transform: scale(1) ; opacity: 1;}
    100% { transform: scale(1) ; opacity: 0;}
}